<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <br>
    </div>

	
    <nav class="sidebar-nav">
	  <hr>
      <a class="sidebar-nav-item" href="https://nppackages.github.io/nprobust/">nprobust</a>
	  <a class="sidebar-nav-item" href="https://nppackages.github.io/lpdensity/">lpdensity</a>
      <a class="sidebar-nav-item" href="https://nppackages.github.io/lspartition/">lspartition</a> 
	  <a class="sidebar-nav-item" href="https://nppackages.github.io/binsreg/">binsreg</a>
	  <hr>
      <a class="sidebar-nav-item" href="https://nppackages.github.io/replication/">Replication</a>
	  <hr>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io">RD Packages</a>
	  <hr>
    </nav>

  </div>
</div>
